@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri|Nanum+Myeongjo|Noticia+Text|Noto+Serif+JP&display=swap');

.App {
  text-align: center;
}

.check-custom{
  font-family:  'Rubik' cursive;
}

.check-label {
  display: inline;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background-color: #eee;
}

.check-label:hover input ~ .checkmark {
  background-color: #ccc;
}


.check-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-label input:checked ~ .checkmark:after{
  display: block;
}

.check-label .checkmark:after{
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  /* border-radius: 15px; */
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.file-inp{
  border: 0px solid #ccc;
  display: inline-block;
  padding: 6px 0px;
  cursor: pointer;
}

.scaling-btn-group {
  float: right;
}

.display-save-group{
  margin-top: 10px;
}

.display-save-group button {
  font-size: medium;
  font-family: 'Rubik'; 
  border-radius: 25px;
}

.slider {
  width: 100% !important;
}

.title {
  /* tyle={{textAlign:'center', fontSize:'30px'}} */
  text-align:center;
  font-size:40px;
  font-family: 'Amiri', serif;

}